.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.tabcontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  float: right;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 20px;
  background-color: #fff;
}

.tabmenu {
  display: block;
  height: 100vh;
  margin-top: 0px;
  padding-top: 140px;
  float: left;
  border-radius: 0px;
  background-color: maroon;
}

.tab-link-tab-1 {
  display: block;
  margin-top: 0px;
  padding: 18px 54px 23px;
  border-radius: 0px;
  background-color: maroon;
  color: #fff;
}

.tab-link-tab-1.w--current {
  border-radius: 20px 0px 0px 20px;
  background-color: #fff;
  color: #000;
}

.tab-link-tab-1.tablink {
  background-color: gold;
}

.section {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block {
  text-align: center;
}

.text-block-2 {
  text-align: center;
}

.text-block-3 {
  text-align: center;
}

.text-block-4 {
  text-align: center;
}

.text-block-5 {
  text-align: center;
}

.paragraph {
  display: block;
}

.tab-pane-poll {
  margin-top: 60px;
  margin-left: 20px;
}

.div-block {
  display: block;
  margin: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
}

.tab-pane-groups {
  margin-top: 60px;
  margin-left: 20px;
}

.tab-pane-import-slides {
  margin-top: 60px;
  margin-left: 20px;
}

.tab-pane-assignments {
  margin-top: 60px;
  margin-left: 20px;
}

.tab-pane-notes {
  margin-top: 60px;
  margin-left: 20px;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin: 20px 20px 20px 0px;
  padding: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 124px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.div-block-2 {
  display: block;
}

.text-block-6 {
  font-weight: 700;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-3 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: transparent;
}

.section-2 {
  margin-top: 40px;
  padding: 45px 80px 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 15px;
  background-color: #8c1d40;
}

.field-label {
  color: #fff;
}

.field-label-2 {
  color: #fff;
}

.submit-button {
  padding: 10px 45px;
  border-radius: 5px;
  background-color: #ffc627;
}

.form-block {
  width: 350px;
}

.form {
  margin-bottom: 0px;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.checkbox-label {
  color: #fff;
}

.checkbox-field {
  padding-top: 5px;
  padding-bottom: 5px;
}

.checkbox {
  padding: 0px;
}

.brand {
  padding-right: 114px;
  background-image: url('../images/ASU-logo.png');
  background-position: 0% 0%;
  background-size: cover;
}

.navbar {
  background-color: #fff;
}

.heading {
  display: inline-block;
  margin-top: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

.grid-2 {
  padding: 25px;
  grid-row-gap: 0px;
  grid-template-areas: ". Area-2"
    "Area Area-2";
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto 0px auto 0px auto;
  grid-template-rows: auto auto auto;
}

.div-block-4 {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: 0px;
  padding: 5px;
}

.div-block-5 {
  width: 150px;
  margin-right: auto;
  margin-left: 0px;
  padding: 5px;
}

.div-block-6 {
  width: 150px;
  margin-right: auto;
  margin-left: 0px;
  padding: 5px;
}

.image-2 {
  display: block;
}

.text-block-7 {
  text-align: center;
}

.text-block-8 {
  text-align: center;
}

.text-block-9 {
  text-align: center;
}

.column {
  display: block;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
}

.div-block-7 {
  border-radius: 25px;
  background-color: #ffc627;
}

.image-3 {
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 150px;
}

.text-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
}

.link-block {
  margin: 15px;
  padding: 22px;
  background-image: url('../images/8938216821547546487-48.png');
  background-position: 0px 0px;
  background-size: cover;
}

.link-block-2 {
  margin: 15px;
  padding: 25px;
  background-image: url('../images/14887640061543238901-64.png');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-9 {
  margin: 25px;
  border-radius: 25px;
  background-color: #8c1d40;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  margin: 25px auto;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: #8c1d40;
}

.column-2 {
  border-radius: 0px;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-4 {
  display: inline-block;
}

.text-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  border-radius: 0px;
  background-color: transparent;
}

.div-block-10 {
  border-radius: 25px;
  background-color: #8b8b8b;
}

.div-block-11 {
  border-radius: 25px;
  background-color: #8b8b8b;
}

.div-block-12 {
  border-radius: 25px;
  background-color: #8b8b8b;
}

#w-node-e30086c5-f1fd-01e9-ac95-7e7153fe7a30-8713a187 {
  -ms-grid-column-align: start;
  justify-self: start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d887b9b2-9b1f-c0b1-2e0e-070f71de9b8e-8713a187 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area;
}

#w-node-cf9a45b4-a2af-c610-f004-5a163e433f66-8713a187 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: Area-2;
}